.star {
	position: absolute;
	background-color: gold;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	opacity: 0.8;
	animation-name: twinkle;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	z-index: 1;
}

@keyframes twinkle {

	0%,
	100% {
		opacity: 0.2;
		transform: scale(1);
	}

	50% {
		opacity: 1;
		transform: scale(1.5);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (max-width: 960px) {
	section {
		padding: 0px !important;
		transition: padding 1s;
	}
}

#star-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
}